body, html {
    font-family: 'Ubuntu', Arial, sans-serif;
    height: 100%;
    width: 100%;
    /*background-color:#458bbe;*/
    background-color:#77CCC5;

}

a {
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #0fa2c2;
}

/*#psdash {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/
#psdash {
    width: 100%;
    height: 100%;
}

#psdash .header {
    background-color: #77CCC5;

    width:100%;
    height:90px;
    position:fixed;
    z-index: 9999;

}

#psdash .header .logo a {
    color: #ffffff;
}

#psdash .header .logo {

    background-color: #77CCC5;
    width: 200px;
    position: absolute;
    text-align: center;
    margin-top: 12px;
}

#psdash .header .logo small {
    font-size: 12px;
}

#psdash .header .logo span.app-name {
    font-size: 48px;
    line-height: 64px;
    font-weight: 300;
}


#psdash .header .top-nav {
    width: 100%;
    padding-left: 200px;
    padding-right: 10px;
    padding-top: 20px;
}

#psdash .header .top-nav .dropdown {
    padding-top: 18px;
    margin-right: 20px;
    display:inline-block;
    vertical-align: top;
}

#psdash .header .top-nav .host-info {
    margin-left: 20px;
    display:inline-block;
    width:50%;
}

#psdash .header .top-nav .host-info .name span.glyphicon {
    color: #adadad;
    line-height: 24px;
    height: 20px;
}

#psdash .header .top-nav .host-info .name span.hostname {
    font-size: 22px;
    font-weight: 300;
    color:#ffffff;
}

#psdash .header .top-nav .host-info .info {
    color: #ffffff;
    font-size: 12px;
}

#psdash .header .top-nav .dropdown-text {
    color: #079D9E;
    padding: 10px;
    font-size: 18px;
    position: relative;
    top: 18px;
}

#psdash .header .top-nav span.caret {
    color: #adadad;
}

#psdash .header .top-nav #login {
    position: absolute;
    right: 30px;
}
#psdash .header .top-nav #account {
    position: absolute;
    right: 30px;
}
#psdash .header .top-nav #account button{
    background-color: #77CCC5;
    border: 0;
    color: #079D9E;
}
#psdash .header .top-nav .switch-app {
    position: absolute;
    left: 200px;
}
#psdash .header .top-nav .switch-app button {
    color: #079D9E;
}
body .caret{
    color: #079D9E!important;
}
#psdash .header .top-nav #login li a {
    /*display: block;*/
    /*width: 200px;*/
    /*height: 40px;*/
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    /*border-left: 4px solid #458bbe;*/
    color: #ffffff;
}
#psdash .header .top-nav #login li a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    /*font-size: 1.7em;*/
    /*color: #313443;*/
    /*border-left: 4px solid #d43f3a;*/
}
#psdash .container {
    display: table;
    width: 100%;
    padding-top: 90px;
    padding-left:0;
    padding-right:0;
    /*position:relative;*/
    /*top: 90px;*/
    height: 100%;  /* maybe annoyed */

}

#psdash .container .content {
    height: 100%;
    /*padding-top: 70px;*/
    display: table-row;
}

#psdash .container .content > div {
    display: table-cell;
    vertical-align: top;
}

#psdash .container .content .left-nav {
    width: 200px;
    /*background-color: #77CCC5;*/
    /*color: #ffffff;*/
    position: fixed;
    top:90px;
    /*height:;*/
    overflow: visible!important;
    z-index: 9000;

}

#psdash .container .content .left-nav ul.menu {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}
#psdash .container .content .left-nav ul.menu li  {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin: 0;
}
#psdash .container .content .left-nav ul.menu li a .tab-text-wrapper{
    margin-top: -10px;
}

#psdash .container .content .left-nav ul.menu li a {
    display: block;
    width: 200px;
    height: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    /*padding-top: 6px;*/
    padding-left: 20px;
    /*border-left: 4px solid #77CCC5;*/
    color: #000000;
}

#psdash .container .content .left-nav ul.menu li a span.glyphicon {
    font-size: 24px;
}

#psdash .container .content .left-nav ul.menu li a span.option-text {
    font-size: 16px;
    padding-left: 16px;
    line-height: 24px;
    vertical-align: 5px;
}

#psdash .container .content .left-nav ul.menu li.active a, #psdash .content .left-nav ul.menu li a:hover {
    text-decoration: none;
    color: #FFFFFF;
    /*border-left: 4px solid #d43f3a;*/
    background-color: #079D9E;
}

/*#psdash .container .content .main-content {*/

    /*border-top: 1px solid #c1d0d9;*/
    /*margin-left: 200px;*/
    /*background-color: #dee2ea;*/
    /*padding: 20px;*/
    /*position:relative;*/
    /*top:90px;*/
    /*left:200px;*/
    /*width:100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/

/*}*/
#psdash .container .content .main-content {

    /*border-top: 10px solid #c1d0d9;*/
    /*border-left: 10px solid #c1d0d9;*/

    /*margin-left: 200px!important;*/
    /*padding-left: 10px;*/
    /*border-left: 200px ;*/
    /*left: 200px;*/
    /*background-color: #dee2ea;*/
    background-color: #77CCC5;


    /*padding-top: 10px;*/
    /*position:absolute;*/
    /*top:90px;*/
    /*left:200px;*/
    width: auto;
    /*height: 100%;*/
    /*overflow: hidden;*/
    z-index: 9500;

}
#psdash .container .content .left-block{
    width:200px;
}
#dashboard div.box {
    display:block;
}

#integration{
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-top: 10px;
    box-shadow: -7px 7px 10px 0 rgba( 2, 2, 2,0.3 );
}
#psdash .container .content .main-content div.box {
    padding: 20px;
    background-color: #ffffff;
    /*border-radius: 4px;*/
    /*border: 1px solid #c2c6ce;*/
    /*border: 1px solid #c2c6ce;*/

    /*margin-right: 20px;*/
    margin-bottom: 20px;
    min-height: 310px;
    /*box-shadow:-10px 0 14px 25px rgba(0,0,0,0.8);*/
    box-shadow: -7px 7px 10px 0 rgba( 2, 2, 2,0.3 );

}

#psdash .container .content .main-content div.box .box-header {
    margin-bottom: 10px;
}

#psdash .container .content .main-content div.box .box-header .header-name {
    font-size: 20px;
    font-weight: 300;
    color: #6DB8CB;
    padding: 10px 0;
}
.dropdown-text{
    color: #079D9E!important;
}
.box .dropdown button{
    background-color: #77CCC5!important;
    color: #FFFFFF!important;
}

.dropdown ul li a{

    color: #77CCC5!important;
}
#psdash .container .content .main-content div.box .box-header .option {
    font-size: 14px;
    font-weight: 300;
    color: #5F7D8C;
    padding: 10px 0;
}

#footer p {
    color: #ffffff;
    text-align: center;
}

.applist {
    margin: 15px;
    padding: 15px;
    width: 100%;
    height: auto;
}
.applist .app-item-box{
    padding: 15px;
}
.applist .app-item-link {
    font-size: 18px;
    height: 30px;
    margin: 0;
    padding: 0;
    line-height: 32px;
    font-weight: 700;
    border: 0;
    color: #ffffff;
}


.applist .app-item-link:hover {
    text-decoration: none;
    color: #313443;
    /*border-left: 2px solid #d43f3a;*/
}

#console-operation a{
    margin: 15px;
}
#console-operation a:hover {
    text-decoration: none;
    /*color: #313443;*/
    /*border: 1px solid #ffffff;*/
}

/*for login page */

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

}





/* integration page */

.clip_button {
    width: auto;
    height: auto;
    margin: 0;
        text-align: center;
        /*border: 1px solid black;*/
        border: 0;
        background-color: #ffffff;
        /*margin: 1px;*/
        padding: 0;
    /*border-radius: 0;*/
        /*padding: 1px;*/
      }
.clip_button.zeroclipboard-is-hover { background-color: #eee; }
.clip_button.zeroclipboard-is-active { background-color: #aaa; }

.code-wrapper{
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
}

.zero-clipboard{
    position: absolute;
    right: 1px;
    top:1px;
}

pre{
    border: 0;
    margin: 0;
}

/*h1,h2,h3,h4,h5,h6,label{*/
    /*color: #000000;*/
/*}*/

label a{
    color:#0C9DD2!important;
}
.span12 h2{
    color: #77CCC5;
}
.span12 .widget-title h3,h4{
    color: #7d7d7d;
}
.span12 .widget-body label{
    color: #7d7d7d;
}
.span12 .downloads_left button{
    background-color: #0C9DD2!important;
}
.span12 code{
    background-color: #ecf3f1;
}

/* settings page */
#settings{
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-top: 10px;
    height: 100%;
    box-shadow: -7px 7px 10px 0 rgba( 2, 2, 2,0.3 );
}

#settings label{
    color: #77CCC5;
}
#settings .input-group,.form-control{
    background-color: #ecf3f1!important;
}
#settings .form-control{
    border:none;
}
#settings .input-group{
    border:1px solid #ccc;
    border-radius: 4px;
}
#settings form{
    margin-top: 20px;
}

#footer{
    margin-top: 30px;
}


@media all and (max-width: 800px){
	#psdash .container .content > div{
		display:block;
		width:100%;
	}
	#psdash .container .content .main-content{
		margin-left:0;
	}
	#psdash .container .content .left-nav{
		display:block;
		width:100%;
	}
	#psdash .container .content .left-nav ul.menu li{
		display:inline-block;
	}
	#psdash .container .content .left-nav ul.menu li a{
		width:auto;
		padding-left:5px;
	}
	#psdash .container .content .left-nav ul.menu li.active a, #psdash .content .left-nav ul.menu li a:hover {
		border-left:none;
		border-bottom:4px solid #d43f3a;
	}
    .col-md-4{
        width: 33.33333333333333%;


    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        float: left;
    }
}
@media all and (max-width: 600px){
	#psdash .container .content .left-nav ul.menu{
		margin-left:40px;
	}
	#psdash .container .content .left-nav ul.menu li{
		padding-right:30px;
	}
	#psdash .container .content .left-nav ul.menu li a span.option-text{
		display:none;
	}
	#psdash .header .logo{
		display:none;
	}
	#psdash .header .top-nav{
		padding: 0;
	}
	/*#psdash .header .top-nav .dropdown-text{*/
		/*font-size: 14px;*/
        /*padding-top: 18px;*/
	/*}*/

    .col-sm-6 {
        width: 50%;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
        float: left;

    }
}
@media all and (max-width:440px){
	#psdash .container .content .left-nav ul.menu li{
		padding-right:15px;
	}
    .col-xs-12{
        width: 100%;

    }

}




/*#dashboard div.box.cpu {*/
    /*min-width: 300px;*/
/*}*/

/*#dashboard div.box.users {*/
    /*min-width: 500px;*/
/*}*/

/*#dashboard div.box.swap {*/
    /*min-width: 350px;*/
/*}*/

/*#dashboard div.box.memory {*/
    /*min-width: 400px;*/
/*}*/

/*#dashboard div.box.network {*/
    /*min-width: 500px;*/
/*}*/

/*#dashboard div.box.disks {*/
    /*min-width: 500px;*/
/*}*/
/*#dashboard div.box.logs{*/
	/*min-width: 500px;*/
/*}*/

/*#dashboard div.box table {*/
    /*margin-bottom: 0;*/
/*}*/

/*#dashboard div.box table th {*/
    /*font-weight: 500;*/
    /*font-size: 12px;*/
/*}*/


/*#processes,#logs {*/
    /*width: 100%;*/
/*}*/

/*#psdash table th {*/
    /*padding: 13px 6px;*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*margin-right: 10px;*/
/*}*/

/*#psdash table th a {*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*margin-right: 10px;*/
/*}*/

/*#psdash table td {*/
    /*vertical-align: middle;*/
    /*font-size: 13px;*/
/*}*/

/*#psdash table td a {*/
    /*font-size: 16px;*/
    /*font-weight: 300;*/
/*}*/

/*#psdash table td small {*/
    /*font-size: 11px;*/
    /*color: #868686;*/
/*}*/

/*#psdash span.badge {*/
    /*margin-left: 10px;*/
    /*border-radius: 2px;*/
    /*padding: 4px;*/
    /*font-weight: normal;*/
    /*background-color: #28a4c9;*/
/*}*/

/*#psdash span.badge.all {*/
    /*background-color: #d43f3a;*/
/*}*/

/*#network div.box, #connections div.box, #disks div.box {*/
    /*width: 100%;*/
/*}*/

/*#process {*/
    /*width: 100%;*/
/*}*/

/*#process table tr.skip-border td {*/
    /*border-top: 0;*/
/*}*/

/*#log-content {*/
    /*height: 700px;*/
    /*overflow: scroll;*/
    /*font-size: 12px;*/
    /*background-color: #222;*/
    /*color: #eee;*/
    /*margin-bottom: 0;*/
    /*border: 0;*/
    /*border-radius: 0;*/
    /*overflow-x: hidden;*/
    /*white-space: pre-wrap;*/
/*}*/

/*#log .search-text {*/
    /*background-color: #2d2d2d;*/
    /*color: #747474;*/
    /*border-color: #3d3d3d;*/
/*}*/

/*#log span.matching-text {*/
    /*border: 1px solid #E6E600;*/
    /*padding: 2px;*/
/*}*/

/*#log span.found-text {*/
    /*background-color: #E6E600;*/
    /*color: #111;*/
    /*padding: 2px;*/
/*}*/

/*#log .controls {*/
    /*background-color: #222;*/
    /*padding: 10px;*/
    /*color: #eee;*/
/*}*/

/*#log .controls .status-text, #log .controls .mode-text {*/
    /*padding-top: 10px;*/
    /*font-size: 13px;*/
    /*font-family: Consolas, "Courier New", monospace;*/
/*}*/

/*#log .controls button {*/
    /*background-color: #458bbe;*/
    /*border-color: #3b7ba4;*/
/*}*/