{% if not is_xhr|default(false) %}{% extends "shared/footer.html" %}{% endif -%}
{% block content %}
<div class="main-content">
 <div id="dashboard">
        <div class="box ">
            <div class="box-header">
                <span class="header-name">User Profile</span>
                <div class="multi-options"><div class="switch-event" style="display: block">
                           <span class="dropdown-text" style="font-size: 14px;margin-left: 70px;">Switch category:</span>
                        <div class="dropdown" style="display: inline">
                          <button class="btn btn-default dropdown-toggle" category-name="{{ user_profile_type }}" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ default_user_profile_category }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                               {% for user_profile_category in user_profile_category_list %}
           <li><a href="#">{{ user_profile_category }}</a></li>
        {% endfor %}
                          </ul>
                        </div>

                      </div> </div>
            </div>
            <div class="box-content">


        <div id="age" style="height:400px ">

            {% if not age_data %}
             <div class="not-exists"><h1>Data not exists in this section !</h1></div>
{% endif %}
        </div>
                 </div></div>
     <div class="box ">
            <div class="box-header">
                <span class="header-name">Path Analysis</span>
                 <div class="multi-options"><div class="switch-event" style="display: block">
                           <span class="dropdown-text" style="font-size: 14px;margin-left: 70px;">Switch measure:</span>
                        <div class="dropdown" style="display: inline">
                          <button class="btn btn-default dropdown-toggle" category-name="{{ path_analysis_type }}"type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ default_path_analysis_category }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                               {% for path_analysis_measure in path_analysis_measure_list %}
           <li><a href="#">{{ path_analysis_measure }}</a></li>
        {% endfor %}
                            <!--<li><a href="/">App1</a></li>-->
                            <!--<li><a href="/">App2</a></li>-->

                            <!--<li><a href="/">App...</a></li>-->
                          </ul>
                        </div>

                      </div> </div>
            </div>
            <div class="box-content">


        <div id="location" style="height:400px ">
            {% if not location_data %}
             <div class="not-exists"><h1>Data not exists in this section !</h1></div>
{% endif %}
        </div>
                 </div></div>
     <div class="box ">
            <div class="box-header">
                <span class="header-name">Behavior Recognition</span>
                <div class="multi-options"><div class="switch-event" style="display: block">
                           <span class="dropdown-text" style="font-size: 14px;margin-left: 70px;">Switch event:</span>
                        <div class="dropdown" style="display: inline">
                          <button class="btn btn-default dropdown-toggle" category-name="{{ event_name_type }}"type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ default_event_name }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                               {% for behavior_recognition_event in behavior_recognition_event_list %}
           <li><a href="#">{{ behavior_recognition_event }}</a></li>
        {% endfor %}
                            <!--<li><a href="/">App1</a></li>-->
                            <!--<li><a href="/">App2</a></li>-->

                            <!--<li><a href="/">App...</a></li>-->
                          </ul>
                        </div>
                    <span class="dropdown-text" style="font-size: 14px;margin-left: 70px;">Switch measure:</span>
                    <div class="dropdown" style="display: inline">

                          <button class="btn btn-default dropdown-toggle" category-name="{{ behavior_recognition_measure_type }}"type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ default_behavior_recognition_measure }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                               {% for behavior_recognition_measure in behavior_recognition_measure_list %}
           <li><a href="#">{{ behavior_recognition_measure }}</a></li>
        {% endfor %}
                            <!--<li><a href="/">App1</a></li>-->
                            <!--<li><a href="/">App2</a></li>-->

                            <!--<li><a href="/">App...</a></li>-->
                          </ul>
                        </div>
                      </div> </div>

            </div>
            <div class="box-content">


       <div id="event" style="height:400px ">
            {% if not event_data %}
             <div><h1>Data not exists in this section !</h1></div>
{% endif %}
        </div>
                 </div></div>




            </div>
        </div>




{% endblock %}
{% block extra_js %}
  <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
//        console.log('the age range data of man is : '+{{ man_data_list|safe }})
//        console.log('the age range data of woman is : '+{{ woman_data_list|safe }})

        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
  {% if age_data %}

       require(
            [
                'echarts',
                    'echarts/chart/line',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {

                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('age'));
         //option begin
               option = {
    title : {

        textStyle:{
        fontSize: 24,
        fontWeight: 'bolder',
        color: '#5f7d8c'
} ,
        subtextStyle:{
        fontSize: 12,
        fontWeight: 'normal',
        color: '#5f7d8c'
} ,

        text: 'Age & Gender',
//        subtext: 'Application: Tesenz',
//        backgroundColor: 'rgba(56,151,197,0.2)'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        x: 'right',
        itemWidth: 40,
        itemHeight: 24,
        data: ['man', 'woman']
    },

    xAxis : [
        {
            nameTextStyle:{
            fontSize:14,
            fontWeight:'bold'
            },
            name: 'Age Range',
            type : 'category',
            data : ['16down','16to35','35to55','55up']
        }
    ],
    yAxis : [
        {   nameTextStyle:{
            fontSize:14,
            fontWeight:'bold'
        },
            name:'Total Amount',
            type : 'value'
        }
    ],
    series : [
        {
            barGap:'5%',

            name:'man',
            type:'bar',
            itemStyle:{
                normal:{
                    color:'#2EC7C9',
                    barBorderRadius:4
                }

            },
            data:{{ man_data_list|safe }}

        },
        {
            barGap:'5%',
            name:'woman',
            type:'bar',
                itemStyle:{
                normal:{
                    color:'#B6A2DE',
//                    color:'#1790CF',
                    barBorderRadius:4
                }

            },
            data:{{ woman_data_list|safe }}
        }
    ]
};
//option end
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        //function end
        );
    //require end
{% endif %}

{% if location_data %}

     require(
            [
                'echarts',
                    'echarts/chart/line',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {

                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('location'),'blue');
         //option begin
               option = {
    title : {

        textStyle:{
        fontSize: 24,
        fontWeight: 'bolder',
        color: '#5f7d8c'
} ,
        subtextStyle:{
        fontSize: 12,
        fontWeight: 'normal',
        color: '#5f7d8c'
} ,

        text: 'Location percentage',
//        subtext: 'Application: Tesenz',
//        backgroundColor: 'rgba(56,151,197,0.2)'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        x: 'right',
        itemWidth: 40,
        itemHeight: 24,
        data: ['Location']
    },

    xAxis : [
        {
            nameTextStyle:{
            fontSize:10,
            fontWeight:'bold'
            },
            name: 'Name',
            type : 'category',
            data : {{location_category_list|safe}},
             axisLabel:{
    interval:0,
            rotate:5
}
        }
    ],
    yAxis : [
        {   nameTextStyle:{
            fontSize:14,
            fontWeight:'bold',

        },
            name:'Time Percentage',
            type : 'value'
        }
    ],
series : [
        {

            name:'Location',
            type:'bar',
            itemStyle:{
                normal:{
                    color:'#2EC7C9',
                    barBorderRadius:4
                }

            },
            data:{{location_percentage_list|safe}}

        }

    ]
};
//option end
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        //function end
        );
    //require end

    {% endif %}




{% if event_data %}
    event_name=String('{{event_name}}')
     require(
            [
                'echarts',
                    'echarts/chart/line',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {

                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('event'),'blue');
         //option begin
               option = {
    title : {

        textStyle:{
        fontSize: 24,
        fontWeight: 'bolder',
        color: '#5f7d8c'
} ,
        subtextStyle:{
        fontSize: 12,
        fontWeight: 'normal',
        color: '#5f7d8c'
} ,

        text: 'Custom event statistics',
//        subtext: 'Application: Tesenz',
//        backgroundColor: 'rgba(56,151,197,0.2)'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        x: 'right',
        itemWidth: 40,
        itemHeight: 24,
        data: [{
            name: event_name
        }]
    },

    xAxis : [
        {
            nameTextStyle:{
            fontSize:10,
            fontWeight:'bold'
            },
            name: 'Activity',
            type : 'category',
            data : {{activity_category_list|safe}},
             axisLabel:{
    interval:0,
            rotate:5
}
        }
    ],
    yAxis : [
        {   nameTextStyle:{
            fontSize:14,
            fontWeight:'bold',

        },
            name:'Times',
            type : 'value'
        }
    ],
series : [
        {

            name:event_name,
            type:'bar',
            itemStyle:{
                normal:{
                    color:'#2EC7C9',
                    barBorderRadius:4
                }

            },
            data:{{activity_count_list|safe}}

        }

    ]
};
//option end
                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        //function end
        );
    //require end

    {% endif %}



    </script>
{% endblock %}