
{% block content %}
 <div id="settings">

<div class="col-md-10" id="appset">
     <!-- ngView:  --><div ng-view="" class="ng-scope">
    <form class="general-form ng-scope ng-pristine ng-valid ng-valid-required" name="generalform" id="generalform">
    <!-- <h3 translate="APP_KEY_SET"></h3> -->
    <div class="form-group">
        <label class="control-label" for="form-app-id">
            App ID
        </label>
        <div class="input-group col-sm-6">
            <input id="form-app-id" class="form-control" type="text" value="{{ app_id }}" required="" readonly="">
            <span class="btn btn-default clip_button input-group-addon form-app-id-clipboard"><span class="mega-octicon octicon-clippy"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="form-app-key">
            App Key
        </label>
        <div class="input-group col-sm-6">
            <input id="form-app-key" class="form-control" type="text" value="{{ app_key }}" required="" readonly="">
            <span class="btn btn-default clip_button input-group-addon form-app-key-clipboard"><span class="mega-octicon octicon-clippy"></span></span>

        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label" for="form-app-key-master">-->
            <!--Master Key-->
        <!--</label>-->
        <!--<div class="input-group col-sm-6">-->
            <!--<input id="form-app-key-master" class="form-control ng-pristine ng-valid ng-valid-required" type="text" ng-model="app.master_key" required="" readonly="">-->
             <!--<span class="btn btn-default clip_button input-group-addon"><span class="mega-octicon octicon-clippy"></span></span>-->
        <!--</div>-->
    <!--</div>-->
        {% if disabled %}
        <div class="input-group col-sm-6">
        <button class="btn btn-danger" type="button" id="delete-app" aria-haspopup="true" aria-expanded="false" style="width: 100%;" disabled>
            Delete This Application
                          </button>
            </div>
        {% else %}
            <div class="input-group col-sm-6">
        <button class="btn btn-danger" type="button" id="delete-app" aria-haspopup="true" aria-expanded="false" style="width: 100%;" >
            Delete This Application
                          </button>
            </div>
        {% endif %}

</form>
</div>
    </div>



     </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var client_form_app_id = new ZeroClipboard( $('.form-app-id-clipboard') );

      client_form_app_id.on( 'ready', function(event) {
        // console.log( 'movie is loaded' );

        client_form_app_id.on( 'copy', function(event) {
            copied_text = $('#form-app-id').val();
          event.clipboardData.setData('text/plain',copied_text);
        } );

        client_form_app_id.on( 'aftercopy', function(event) {
          console.log('Copied text to clipboard: ' + event.data['text/plain']);
        } );
      } );

      client_form_app_id.on( 'error', function(event) {
        // console.log( 'ZeroClipboard error of type "' + event.name + '": ' + event.message );
        ZeroClipboard.destroy();
      } );

    var client_form_app_key = new ZeroClipboard( $('.form-app-key-clipboard') );

      client_form_app_key.on( 'ready', function(event) {
        // console.log( 'movie is loaded' );

        client_form_app_key.on( 'copy', function(event) {
            copied_text = $('#form-app-key').val();
          event.clipboardData.setData('text/plain',copied_text);
        } );

        client_form_app_key.on( 'aftercopy', function(event) {
          console.log('Copied text to clipboard: ' + event.data['text/plain']);
        } );
      } );

      client_form_app_key.on( 'error', function(event) {
        // console.log( 'ZeroClipboard error of type "' + event.name + '": ' + event.message );
        ZeroClipboard.destroy();
      } );


    $('#delete-app').click(function(e){
        e.preventDefault();
        var _xsrf = $("[name='_xsrf']").attr('value');
        var app_id = $(".switch-app .dropdown button").attr("app_id");
        console.log(_xsrf);
        console.log(app_id);
        var url = 'delete'
        e.preventDefault();
        $.post(url,
             {
            _xsrf: _xsrf,
                 app_id: app_id

            },
             function(data,status){
                 if(data['delete']=='success'){
                    window.location.replace('http://'+window.location.host+'/console');
                 }
                 console.log(data+" "+status)
        });
    })

    </script>
{% endblock %}