{% if not is_xhr|default(false) %}{% extends "shared/base.html" %}{% endif -%}
 {% block header %}
<div class="header">
                <div class="logo">
                    <a href="{{ url_for(".index") }}">
                        <span class="app-name"> Senz <small>v0.2.0</small></span>
                    </a>
                </div>
                <div class="top-nav">

                          <!--<div class="dropdown">-->
                               <!--<span class="dropdown-text">Switch application:</span>-->
                          <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--{{ username }}-->
                            <!--<span class="caret"></span>-->
                          <!--</button>-->
                          <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
                            <!--<li><a href="/">App2</a></li>-->
                            <!--<li><a href="/">App3</a></li>-->
                            <!--<li><a href="/">App4</a></li>-->
                            <!--<li><a href="/">App5</a></li>-->
                              <!--<li><a href="/">other apps...</a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      <div class="switch-app">
                           <span class="dropdown-text">Switch application:</span>

                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" app_id="{{ app_id }}"type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app_name }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                               {% for app_name, app_id in all_application_dict.items() %}
           <li><a href="{{ url_for( route_link ,app_name= app_name ,app_id= app_id )}}">{{app_name}}</a></li>
        {% endfor %}
                            <!--<li><a href="/">App1</a></li>-->
                            <!--<li><a href="/">App2</a></li>-->

                            <!--<li><a href="/">App...</a></li>-->
                          </ul>
                        </div>
                      </div>

<div id="account">
                     <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ username }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="/console">Console</a></li>
                            <!--<li><a href="/dashboard">Dashboard</a></li>-->
                            <li><a href="/account">Account</a></li>
                            <li><a href="/logout">logout</a></li>
                          </ul>
                        </div>
                         </div>

                </div>
            </div>
{% endblock %}


